*{
    padding: 0;
    margin: 0;
}

.data{
    width: 70%;
    height: auto;
    border: 2px solid;
    /* margin: auto; */
    border-radius: 10px;
    margin: 1% 1% 1% 1%;

}
.layoutMain{
    display: flex;
    flex-direction: row;
}

.btnsub{
    width: 200px;
    height: 50px;
}