.alignMain{
    display: flex;
    flex-direction: row;
    
}

*{
    margin: 0;
    padding: 0;
}
.menuclz{
    display: flex;
    flex-direction: column;
    /* padding-left: 1%; */
    margin-left: 5%;
    margin-top: 2%;
}

.menuclz button{
    width: 300px;
}

.btnClzMenu{

    border: 1px solid;
    background-color: #d7292b;
    color: #fff;
    width: 500px;
    height: 100px;
    font-size: 30px;
    /* size:0px; */
    /* border-top: 1px; */
    /* border */
}

.dataSection {
    padding: 2%;
}
