/*

	This bit of code is taken from : https://github.com/htchristie/dino-run

*/

:root {
  --txt-primary: #535353;
  --txt-hover: #292929;
  --background: #F7F7F7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none; /* impede seleção */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  color: var(--txt-primary);
  background-color: var(--background);
  margin: 0;
}

.game {
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}

.score {
  position: absolute;
  right: 5vmin;
  top: 1vmin;
  font-size: .8rem;
}

.start-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centraliza o texto */
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message p {
  letter-spacing: .5em;
}

.gameover-message span {
  display: block;
  font-size: .6rem;
  text-transform: lowercase;
  margin-top: 10px;
}

.submitScore{
	font-family: 'Press Start 2P', cursive;
	font-size: .6rem;
	margin: 5px;
	height: 30px;
	border:1px solid #535353;
	border-radius: 3px;
	color:#535353;
	background-color:transparent;
}

.ground {
  --left: 0;
  width: 300%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%); /* variável vai ser manipulada no js */
}

.dino {
  --bottom: 0;
  height: 30%;
  position: absolute;
  left: 1%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  height: 30%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.hide {
  display: none;
}
